<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="books" />
    <meta name="description" content="books" />
    <meta type="">
    <title>Elenco Libri</title>
  </head>
  <body>
    <h1>Elenco Libri</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Titolo</th>
          <th>Editore</th>
          <th>Anno di Edizione</th>
          <th>Autori</th>
        </tr>
      </thead>
      <tbody>
        {% for book in page_obj %}
          <tr>
            <td>{{ book.titolo }}</td>
            <td>{{ book.editore.ragione_sociale }}</td>
            <td>{{ book.anno_edizione }}</td>
            <td>
              {% for autore in book.autori.all %}
                {{ autore.nome }} {{ autore.cognome }}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">Precedente</a>{% endif %}
        <span class="page-current">Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">Successivo</a>{% endif %}
      </span>
    </div>
  </body>
</html>
